.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}



.membership-container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    box-shadow: 0 35px 35px rgb(0 0 0);
    border: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.membership-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    text-align: center;
}

.membership-container .membership-card {
    position: relative;
    min-width: 320px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2), inset -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 30px;
}

.membership-container .membership-card .membership-box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    display: flex;align-items: center;
}