html {
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-size: 1.2rem;
    color: white;
    background-image: url("/css/images/Wall-of-gains-light-mode-background.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body {
    max-width: 90%;
    text-align: -webkit-center;
    margin-left: 50px;
    margin-right: 50px;
}

.header-section {
    text-align: -webkit-center;
    max-width: 90%;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.membership-container {
    width: 100%;
    min-height: 300px;
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    box-shadow: 0 35px 35px rgb(0 0 0);
    border: 1px;
    border-radius: 20px;
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 20px 50px;
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    border: 1px;
    border-radius: 20px;
    box-shadow: 0 35px 35px rgb(0 0 0 / 50%);
    backdrop-filter: blur(10px);
    z-index: 1;
    transform: translateY(-65px);
    max-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}
.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}

.membership-container {
    position: relative;
    min-height: calc(100vh - 280px);
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    box-shadow: 0 35px 35px rgb(0 0 0);
    border: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: fit-content;
}

.membership-options {
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    border-radius: 20px;
    display: inline-flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.membership-container .membership-card {
    position: relative;
    min-width: 320px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2), inset -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 30px;
}

.membership-container .membership-card .membership-box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    transition: transform 0.4s, box-shadow 0.4s;
}

.membership-container .membership-card:hover .membership-box {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

.membership-container .membership-card .membership-box .membership-content {
    padding: 20px;
    text-align: center;
}

.membership-container .membership-card .membership-box .membership-content h3 {
    font-size: 1.8em;
    color: white;
    font-weight: 300;
}

.membership-container .membership-card .membership-box .membership-content h4 {
    font-size: 2.5em;
    color: white;
    font-weight: 500;
    text-align: center;
}

sup {
    font-size: 0.5em;
    font-weight: 200;
}

.membership-container .membership-card .membership-box .membership-content ul {
    position: relative;
    margin-left: 0;
    padding-left: 0;
}

.membership-container .membership-card .membership-box .membership-content ul li {
    color: white;
    list-style: none;
    margin: 5px 0;
    padding-left: 0;
}

.membership-container .membership-card .membership-box .membership-content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: white;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 200;
}

@media only screen and (min-width: 425px) {
    .logo {
        display: none;
    }
}