html {
    font-family: "Avenir Next", "Avenir", sans-serif;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/css/images/Wall-of-gains-light-mode-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    box-shadow: 0 35px 35px rgb(0 0 0);
    border: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   
}

header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(0,61,255,0.9668242296918768) 100%, rgba(173,169,169,1) 100%);
    border: 1px;
    border-radius: 20px;
    box-shadow: 0 35px 35px rgb(0 0 0 / 50%);
    backdrop-filter: blur(10px);
}

header ul {
    display: flex;
}

header ul li {
    list-style-type: none;
    margin: 0px 10px;
}

header ul li a {
    /* js reactive buttons*/
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
    padding: 8px 15px;
}

audio::-webkit-media-controls-panel {
    background-color: #56AEFF;
  }